<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzhu.youzaiyouzai.supermarket.user.mapper.PointGoodsMapper">

    <select id="selectPointGoods" parameterType="java.lang.Integer" resultType="com.pzhu.youzaiyouzai.supermarket.user.pojo.PointGoods">
        select * from point_goods pointGoods where id = #{param1}
    </select>
</mapper>